* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}


.navbar{
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.navbar-brand {
    font-family: 'Tilt Prism', cursive;
    font-size: 2rem;
}

.navbar .container-fluid  div {
    display: flex;
    gap: .5rem;
    align-items:center;
}

.navbar .container-fluid  div > i {
    font-size: 1.5rem;
    line-height: .2rem;
}

.navbar .container-fluid  div > a {
    color: rgb(56, 55, 55);
    font-weight: 800;
}

form {
    position: relative;
}

form button {
    position: absolute;
    right: .5rem;
    height: 2rem;
    text-align: center;

    display: flex;
    background-color:#adb5bd ;
}


form button i {
    display: flex;
    align-self: center;

    font-size: .75rem;

}


.user-section {
    display: flex;
}

.btn-user {
    border-width: 0px;
}

.user {
    overflow: hidden;
    border-radius: 50%; 
}

.user img{
    height: 2.5rem;
}

.button-circle {
    border-radius: 50%;
    background-color: rgb(23, 44, 66);   
}

.add-button {
    border-radius: 50%;
    background-color: rgb(23, 44, 66);
    border: solid .1px white;
}

.add-button i{
    color: white;
}

.menu{
    display: flex;
}

ul {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    font-size: .9rem;
}

li a {
    font-weight: 800;
    color: rgb(23, 44, 66);
    text-decoration: none;
}

/* ---------main----- */
main {
    margin-top: 5.5rem;
    margin-bottom: 9rem;
}

main .container{
    padding: 4rem 4rem 1rem 4rem;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgb(211, 211, 211);
}

.btn-outline-secondary{
    width: 7rem;
    margin: 0rem 0 4rem 0;
    font-size: .8rem ;
}

.container img{
    max-height: 25rem;
}

.container h3{
    font-weight: 600;

}

.product-info{
    padding: 0 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.product-info div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info div span:last-of-type{
    font-size: .7rem;
    color: rgb(155, 155, 155);
}

.product-info div:last-of-type span:first-of-type{
    font-size: 1.2rem;
    font-weight: 600;
}

.extra-info{
    display: flex;
    align-self:self-end;
    justify-content: space-between;
    margin-top: 4rem;
    font-size: .75rem;
    align-content: center;
}

.extra-info i {
    font-size: .9rem;
    margin-right: .5rem;
}




/* ---------footer----- */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(23, 44, 66);

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .8rem;
}
footer a {
    color: rgb(185, 185, 185);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: rgb(185, 185, 185);

}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .3rem;
    color: rgb(185, 185, 185);

}