

thead{
    text-align: center;
    background-color: rgb(237, 237, 237);
}

td {
    font-size: .9rem;
}

th {
    padding-top: .1rem ;
}

#table-products button {
    font-size: .75rem;
    padding: .2rem .5rem;
}

i{
    font-size: 1rem;
    margin-right: .5rem;
}