* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}


.navbar{
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.navbar-brand {
    font-family: 'Tilt Prism', cursive;
    font-size: 2rem;
}

.navbar .container-fluid  div {
    display: flex;
    gap: .5rem;
    align-items:center;
}

.navbar .container-fluid  div > i {
    font-size: 1.5rem;
    line-height: .2rem;
}

.navbar .container-fluid  div > a {
    color: rgb(56, 55, 55);
    font-weight: 800;
}

form {
    position: relative;
}

form button {
    position: absolute;
    right: .5rem;
    height: 2rem;
    text-align: center;

    display: flex;
    background-color:#adb5bd ;
}


form button i {
    display: flex;
    align-self: center;

    font-size: .75rem;

}


.user-section {
    display: flex;
}

.btn-user {
    border-width: 0px;
}

.user {
    overflow: hidden;
    border-radius: 50%; 
}

.user img{
    height: 2.5rem;
}

.button-circle {
    border-radius: 50%;
    background-color: rgb(23, 44, 66);   
}

.add-button {
    border-radius: 50%;
    background-color: rgb(23, 44, 66);
    border: solid .1px white;
}

.add-button i{
    color: white;
}

.menu{
    display: flex;
}

ul {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    font-size: .9rem;
}

li a {
    font-weight: 800;
    color: rgb(23, 44, 66);
    text-decoration: none;
}

/* ------jumbotron-------- */
#jumbotron{
    background-color: rgb(23, 44, 66);
    margin-top: 6.4rem;
    text-align: center;
}

#jumbotron .container{
    text-align: center;
}

#jumbotron p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(148, 255, 86);
    text-align: center;
    padding: 1.5rem 0;
    /* width: 20rem; */
    
}

#jumbotron span {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(255, 255, 255); 
}

/* ------pre shop-------- */
.hide {
    display: none;
}

.spinner {
    margin: 0 50%;
}
/* ---------shop----------- */
.card {
    position: relative;
    cursor: pointer;
}

.card span {
    font-weight: 600;
    color: rgb(23, 44, 66);
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.2rem;
}

.price-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title{
    font-size: 1.2rem;
    color: rgb(60, 60, 60);
    font-weight: 600;
    
    display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    font-size: .85rem;
    color: rgb(117, 117, 117);
    text-transform: capitalize;
}

.price-buttons span{
    font-weight: 600;
}

.card button {
    border-radius: 50%;
    height: 2.5rem;
}

.card button i{
    display: flex;
    align-self: center;
}



/* ------footer-------- */
footer{
    margin-top: 8rem;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: rgb(23, 44, 66);

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .8rem;
}
footer a {
    color: rgb(185, 185, 185);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: rgb(185, 185, 185);

}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .3rem;
    color: rgb(185, 185, 185);

}